
@{
    ViewData["Title"] = "AccessDenied";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-content">
    <!-- BEGIN PAGE CONTENT-->
    <div class="row">
        <div class="col-md-12">
            <div class="content-detail">
                <h1>Access Denied</h1>
            </div>
        </div>
    </div>
    <!-- END PAGE CONTENT-->
</div>
